.home {
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.leftbox {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.leftbox > h1 {
    font-family: "Lora Bold", serif;
    color: salmon;
}

.rightbox {
    flex: 1;
    border-left: 2px solid salmon;
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    gap: 20px;
}

.rightbox a {
    color: salmon;
    font-family: "DM Sans Bold", sans-serif;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.home hr {
    border-top: 1px solid black;
    margin-top: -2px;
}

.postsContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    list-style-type: none;
}

.postsContainer a {
    text-decoration: none;
    color: black;
}

.post {
    background-color: white;
    padding: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: "DM Sans", sans-serif;
    max-height: 15em;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.post:hover{
    cursor: pointer;
    background-color:rgba(250, 128, 114, 0.5);
}

.postTitle {
    font-family: "Lora Bold", serif;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.postTitle span {
    font-family: "DM Sans Bold", sans-serif;
    font-size: 14px;
}

.content {
    padding-top: 1.5em;
    overflow-y: hidden;
    text-overflow: ellipsis;
}

.message {
    color: salmon;
    font-size: 20px;
    font-family: "DM Sans", sans-serif;
}

.message span {
    font-size: 14px;
}

.publishedTag {
    background-color: inherit;
    color: black;
    border: solid 1px black;
    border-radius: 2px;
    font-family: "DM Sans Bold", sans-serif;
    padding: 2px 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.unpublishedTag {
    background-color: inherit;
    color: grey;
    border: solid 1px grey;
    border-radius: 2px;
    font-family: "DM Sans Bold", sans-serif;
    padding: 2px 5px;
}

.tick {
    background-color: greenyellow;
    border-radius: 4px;
    width: 16px;
    height: 16px;

}

svg {
    width: 100%;
    height: 100%;
    filter: invert(1);
}